/* BODY SECTION */
body {
    background-color: tomato;
    margin: 0px;
    padding-top: 6rem;
    font-family: monospace;
}

/* NAVIGATION BAR SECTION*/
.Navigation_Bar h2 {
    color: white;
    padding-left: 1.2rem;
}

.Navigation_Bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.Navigation_Bar i{
    color: white;
    padding-right: 5px;
}

.Navigation_Bar i:hover {
    color: tomato;
}

.Navigation_Bar #search {
    border-radius: 10px;
    text-align: center;
    outline-style: none;
}

.Navigation_Bar a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.Navigation_Bar a:hover {
    color: tomato;
}

.Navigation_Bar li {
    list-style-type: none;
}

.Navigation_Bar ul {
    display: flex;
    gap: 30px;
    padding-right: 30px;
}

/* INTRODUCTION SECTION */
#introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
    padding-bottom: 50px;
    gap: 50px;   
    color: white;
    text-align: center;
    flex-wrap: wrap;
}

#introduction .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 30px;
    padding: 30px;
    border-radius: 10px;
    max-width: 300px; 
    height: 100%;
}

#introduction #my_profile img{
    width: 25vw;         
    height: 25vw;      
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid black; 
    box-shadow: 0px 0px 5px black;
}

/* DESCRIPTION SECTION */
#description {
    color: black;
    font-size: 20px;
    display: block;
    text-align: center; 
    font-family: sans-serif;
}

/* INFORMATION SECTION */
#information {
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    text-decoration: none;
}

#information i {
    color: black;
    padding: 10px;
}

#information i:hover{
    color: rgb(63, 60, 60);
}

/* FOOTER SECTION */
footer {
    background-color: black;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-around;
}

footer p a{
    color: white;  
    text-decoration: none;
}

footer p a:hover{
    color: tomato;
    text-decoration: underline;
}